/* google font(poppines) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common style */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}
/* first section style */
.header-text {
    margin-top: 7%;
    margin-left: 13.9%;
    color: #3A3A3A;
}
.first-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10%;
}
.left-div {
    width: 40%;
}
.first-heading {
    font-size: 40px;
    color:#3A3A3A;
    margin: 0;
}
.first-para {
    color: #3A3A3A;
    font-weight: 700;
    margin: 10px 0 30px;
}
.first-btn {
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 12px 35px;
    border-radius: 25px;
}
.common-symbol {
    position: relative;
    top: 5px;
    left: 7px;
    font-size: 25px;
}
.right-div {
    width: 40%;
}
.right-div img {
     width: 100%;
} 

/* second section style */
.second-section {
    margin: 10%;

}
.second-header-text {
    text-align: center;
    margin-bottom: 8%;
}
.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2%;
}
.collection {
    width: 300px;
    box-shadow: 0 0 10px rgb(230, 224, 224);
    padding: 15px;
    line-height: 45px;
    border-radius: 8px;
}
.collection img {
    width: 100%;
}
.collection-title {
    font-size: 30px;
    font-weight: 200;
    color: #3A3A3A;
    margin: 0%;
}
.collection-amount {
    color: #242B2E;
    font-size: 24px;
    font-weight: 200;
    margin: 0%;
}
.rating-icon {
    font-size: 10px;
}
.fa-star {
    color: #EB4D4B;
}
.fa-star-half-alt {
    color: #EB4D4B;
}
.rating-point {
    color: #5E6366;
    font-size: 13px;
    font-weight: 600;
    margin-left: 5px;
}
.collection-detail {
    line-height: 13px;
    color: #3A3A3A;
    font-weight: 700;
}
.second-btn {
    color: #E02C6D;
    background-color: transparent;
    font-weight: 600;
    position: absolute;
    left: 1042px;
    top: 2573px;
    
}
/* third section style */
.third-section {
    margin: 10%;
    margin-top: 20%;
}
.influencer-chat {
    display: flex;
    justify-content: space-around;
}
.left-div {
    width: 40%;
}
.left-div img {
    width: 100%;
    border-radius: 8px;
}
.right-div {
    width: 40%;
}
.second-heading {
    color: #0A0826;
    font-size: 40px;
}
.second-para {
    color: #3A3A3A;
    font-weight: 600;
}
.third-btn {
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 12px 35px;
}
/* footer style starts */
footer {
    background-color: 
    #0A0826;
    color: #FFFFFF;
    text-align: center;
    padding: 15px 0;
    line-height: 14px;
}
.footer-heading {
    font-size: 24px;
}
.copyright-message {
    font-size: 14px;
    font-weight: 100;
}
.rights-message {
    font-size: 14px;
    font-weight: 100;
}
.fab {
    margin-right: 12px;
    font-size: 19px;
    transition: 1.3s;
}
.fa-instagram:hover {
    transform: scale(1.4);
    color: #8a3ab9;
}
.fa-twitter:hover {
    transform: scale(1.4);
    color: #00ACEE;
}
.fa-youtube:hover {
    transform: scale(1.4);
    color: #FF0000;
}

/* Responsive part */

/* mobile devices */
@media only screen and (max-width:688px) {

    /* first section style starts */
   .header-text {
       margin-top: 7%;
       margin-left: 10%;
       color: #3A3A3A;
   }

   .first-section {
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       margin: 10%;
       
   }
   .left-div {
       width: 100%;
   }
   .first-heading {
       font-size: 30px;
       color:#3A3A3A;
       margin: 0;
   }
   .first-btn {
       background-color: #E02C6D;
       color: #FFFFFF;
       padding: 12px 35px;
       border-radius: 25px;
   }
   .right-div {
       width: 100%;
       margin-top: 25px;
   }
   /* second section style starts */

   .collections {
       grid-template-columns: repeat(1, 1fr);
       grid-row-gap: 25px;
   }
   /* thrid section style starts */
   .left-div {
       width: 100%;
   }
   .influencer-chat {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
   }
   .right-div {
       width: 100%;
   }
   .second-heading {
       font-size: 25px;
   }
   /* footer style starts here */
   footer {
       width: 100%;
   }
   .footer-heading {
       font-size: 18px;
   }
   .copyright-message {
       font-size: 12px;
       font-weight: 100;
   }
   .rights-message {
       font-size: 12px;
       font-weight: 100;
   }  
}

 